<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="loginForm" (submit)="onLogin()" style="font-size: 17px">
          <div class="mb-3">
            <label for="inputEmail" class="form-label">Email address</label>
            <input 
              type="email" 
              class="form-control" 
              id="inputEmail" 
              aria-describedby="emailHelp" 
              formControlName="email"
            />
            <p style="color: red;">
                Please enter a valid email address with no more than 64 characters before the @ 
                symbol that doesn't start or end with a period, followed by a valid domain name, 
                with the entire address being no longer than 254 characters total.
            </p>
          </div>
          <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <input 
              type="password" 
              class="form-control" 
              id="inputPassword" 
              formControlName="password"
            >
            <p style="color: red;">
                Minimum eight characters, at least one letter, one number and one special character
            </p>
          </div>
          <button type="submit" class="btn btn-primary" style="font-size: 17px" >Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
