/* button {
    color-scheme: black;
} */

img {
    width: 10px;
    height: 10px;
}

/* .navbar-brand {
    align-self: flex-start;
    font-size: 30px;
} */

.navbar-nav {
    align-self: auto;
    padding-inline: 10px; 
}

.nav-link.active {
  color: white !important;
  font-size: 30px;
}

.nav-link:hover {
  color: grey !important;
}

.nav-button {
    margin-left: 1rem;
    font-size: 30px;
}

.nav-button.logout {
    margin-left: 1rem;
    font-size: 30px;
}

a {
  text-decoration: none;
  color: white;
}