<nav class="navbar navbar-expand-lg bg-black">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">
            Home
        </a>

        <!-- <img src="assets/images/BankLogo.png"> -->
        @if (isAuthenticated !== null && !isAuthenticated) {
            <div class="navbar-nav">
                <a class="nav-button logIn" routerLink="auth/login">Log in</a>
                <a class="nav-button signIp" routerLink="auth/signup">Sign up</a>
            </div>
        } @else {
            <div class="navbar-nav">
                <a class="nav-button logout" (click)="onLogoutUser()">Logout</a>
            </div>
        }
    </div>
</nav>